* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
nav {
  width: 100%;
  height: 70px;
  background-image: linear-gradient(to right, #044242, #035858);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.link-wrapper {
  display: flex;
  gap: 40px;
  list-style-type: none;
  font-size: 0.9rem;
}
.link-wrapper li a {
  color: white;
  text-decoration: none;
  font-weight: 300;
}
.cta button {
  border: none;
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 10px 25px;
}
.log {
  background-color: transparent;
}
.sign {
  border-radius: 10px;
  background-image: linear-gradient(to right, #fe1800, #ff4e01);
}
.hero {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(to right, #044242, #035858);
  clip-path: polygon(100% 0, 100% 77%, 52% 100%, 0 80%, 0 0);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  /* background-color: black; */
}

.mobile {
  height: 400px;
  position: absolute;
  bottom: -200;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 50;
}
.pswhs {
  font-size: 50;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.loremp {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.diy {
  width: 600px;
  height: 100px;
  background-color: skyblue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}
.inpt {
  width: 400px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.btn {
  border-radius: 10px;
  background-image: linear-gradient(to right, #fe1800, #ff4e01);
  padding: 10px 25px;
  margin-left: 10px;
  border: none;
  color: white;
  height: 60px;
}
.div {
  display: flex;
}
.dv {
  margin-top: 5px;
}
.pa {
  color: black;
  margin-right: 20px;
}

.h {
  font-size: 50;
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.para {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}
.second {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}
.second-container {
  width: 80%;
  height: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px;
  gap: 40px;
}
.card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-width: 2px;
  border-color: whitesmoke;
  border-radius: 10px;
}
.image-wrapper3 {
  width: 80px;
  height: 80px;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: whitesmoke;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imaging {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.hyper {
  margin-top: 20px;
}